In [5]:
2682

2682

In [1]:
"Pramod Maurya"

'Pramod Maurya'

In [2]:
'Pramod Maurya'

'Pramod Maurya'

In [6]:
print("Pramod Maurya")

Pramod Maurya

In [4]:
print("Pramod Maurya)

SyntaxError: EOL while scanning string literal (4040141743.py, line 1)

In [5]:
print(1,2,3,4,5,6,7,8,9,10)

1 2 3 4 5 6 7 8 9 10

In [7]:
print('Brahmastra',2022)

Brahmastra 2022

In [8]:
print('This is a line')
print('Anothe line')
print('and the final text line')

This is a line
Anothe line
and the final text line

In [9]:
a=10
print(a)
b=20
c=50
print(b,c)

10
20 50

In [10]:
city='Lucknow'
state='Utter Pradesh'
Name='India'

In [11]:
city='Lucknow'
state='Utter Pradesh'
Name='India'
Name='Bharat'

In [12]:
city='Lucknow'
state='Utter Pradesh'
Name='India'
n1,n2='Ajay','Akash'

In [13]:
food=input()

In [14]:
food=input()
print(food)

pani

In [1]:
a='apple'
type(a)

str

In [2]:
a=101
type(a)

int

In [3]:
a="300"
print(a,type(a))

300 <class 'str'>

In [5]:
a="300"
b=int(a)
print(b,type(b))

300 <class 'int'>

In [8]:
a="300"
b=int(a)
print(b,type(b))
print(a,type(a))

300 <class 'int'>
300 <class 'str'>

In [9]:
a="300+"
b=int(a)
print(b,type(b))
print(a,type(a))

ValueError: invalid literal for int() with base 10: '300+'

In [10]:
a=input("Enter A=")
b=input("Enter B=")
print(type(b),type(a))
a=int (a)
b=int (b)
print(a+b)

<class 'str'> <class 'str'>
11

In [11]:
num1=int(input("Enter num1 : "))
num2=int(input("Enter num2 : "))
ans=num1*num2
print(ans   )

150

# Operators

In [2]:
x=10
y=3

In [3]:
x+y

13

In [4]:
x-y

7

In [5]:
x*y

30

In [6]:
x/y

3.3333333333333335

In [7]:
x//y

3

In [8]:
x%y

1

In [9]:
x**y

1000

In [10]:
y**x

59049

# Assignment

In [11]:
x=10

In [14]:
x+=5
print(x)

10

In [15]:
x-=10
print(x)

0

In [16]:
x*=3
print(x)

0

In [17]:
x=10

In [18]:
x*=3
print(x)

30

# Comparison

In [19]:
[x>10]

[True]

In [20]:
y<3

False

In [21]:
'apple'=='Apple'

False

# Logical

In [22]:
x>5 and x>100

False

In [24]:
x>5 and x<100

True

In [25]:
x>5 or x>1

True

In [26]:
not x>100

True

# 'is' is a operator

In [27]:
x is y

False

In [28]:
x is not y

True

# Membership Operator 'in'

In [29]:
a=[1,3,8,10,2]

In [30]:
2 in a

True

In [31]:
15 in a

False

# Formatted String & Msg

## Formatted string & message

In [33]:
l=10.5 
b=6.10
area=l*b
print(area)

64.05

In [34]:
l=10.5 
b=6.10
area=l*b
print(l*b)

64.05

In [35]:
l=10.5 
b=6.10
area=l*b
print(l,b,area)

10.5 6.1 64.05

In [37]:
l=10.5 
b=6.10
area=l*b
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [38]:
l=10.5 
b=6.10
area=l*b
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [39]:
l=10.5 
b=6.10
area=l*b
print(f"{l}*{b}={area}")

10.5*6.1=64.05

In [40]:
l=10.5 
b=6.10
area=l*b
print('{l}*{b}={area}')

{l}*{b}={area}

In [41]:
l=10.5 
b=6.10
area=l*b
print(f{l}*{b}={area})

SyntaxError: invalid syntax (3245780689.py, line 4)

In [42]:
l=10.5 
b=6.10
area=l*b
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0

In [43]:
l=10.5 
b=6.10
area=l*b
print(f'{l}*{b}={area:.3f}')

10.5*6.1=64.050

In [1]:
print(17/10)

1.7