In [36]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)

1
2
3
4
5
6
7

# Loops
## . For Loops
## . While loops

### for loops:
        --iterations
        --traversal
    when no. of steps are known

### While loop: 
        -- user input
        -- condition based
    when no. of steps are known

### traversal

In [37]:
x=[0,2,1,3,6,10]
for i in x:
    print(i)

0
2
1
3
6
10

In [38]:
colors=['red','pink','purple']
for val in colors:
    print(f'We got {val}')

We got red
We got pink
We got purple

In [39]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [40]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [41]:
for i in range(1,31):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [42]:
for i in range(1,31):
    print(i, end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30

In [43]:
for i in range(1,31):
    print(i, end='😂')

1😂2😂3😂4😂5😂6😂7😂8😂9😂10😂11😂12😂13😂14😂15😂16😂17😂18😂19😂20😂21😂22😂23😂24😂25😂26😂27😂28😂29😂30😂

In [44]:
for i in range (1,11):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

'''
range(10)           |0-9
range(5,10)         |5-9
range(10,1,-1)      |10,9,.....
'''

In [45]:
for i in range(0,100,5):
    print(i,end=" ")

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [46]:
# reverse loop
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [47]:
veg = ['potato🥔','tomato🍅','onion🧅','carrot🥕']
for item in veg:
    print(item)

potato🥔
tomato🍅
onion🧅
carrot🥕

In [48]:
veg = ['potato🥔','tomato🍅','onion🧅','carrot🥕']
for item in veg:
    print(item)

potato🥔
tomato🍅
onion🧅
carrot🥕

In [49]:
for index, value in enumerate(veg):
    print(index,'➡️',value)

0 ➡️ potato🥔
1 ➡️ tomato🍅
2 ➡️ onion🧅
3 ➡️ carrot🥕

# Zip

In [50]:
veg = ['potato🥔','tomato🍅','onion🧅','carrot🥕']
prices = [35, 80, 30,15, 30]

In [51]:
#non-pythonic code
for i in range(len(veg)):
    print(f'{veg[i]}-------------➡️{prices[i]}')

potato🥔-------------➡️35
tomato🍅-------------➡️80
onion🧅-------------➡️30
carrot🥕-------------➡️15

In [52]:
#pythonic language
for v,p in zip(veg, prices):
    print(f'{v}-------------➡️{p}')

potato🥔-------------➡️35
tomato🍅-------------➡️80
onion🧅-------------➡️30
carrot🥕-------------➡️15

# wap to print the following list using zip
from turtle import title


- list1 contains movie title
- list2 contains movie rating
- list3 contains movie year
- list4 contains movie director

In [53]:
mtitle = ['Aliens','Predator','Rain Man','The Simpsons','Jurassic Park']
myear=['1986','1987','1988','1988','1989','1993']
mrating=['8.3','6.1','9.0','6.9','7.2']
mdiractor=['David','John McTiernan','Barry Levinson','David Silverman','J.A. Bayona']

In [54]:
for t,r,y,d in zip(mtitle,myear,mrating,mdiractor):
    print(f'{t},{r},{y},{d}')

Aliens,1986,8.3,David
Predator,1987,6.1,John McTiernan
Rain Man,1988,9.0,Barry Levinson
The Simpsons,1988,6.9,David Silverman
Jurassic Park,1989,7.2,J.A. Bayona

Break and  Continue

In [55]:
x=[1,2,0,3,4,0,0,5]

In [56]:
x=[1,2,0,3,4,0,0,5]
for i in x:
    if i==0:
        break
    print(i)

1
2

In [57]:
x=[1,2,0,3,4,0,0,5]
for i in x:
    if i==0:
        continue
    print(i)

1
2
3
4
5

In [58]:
x=[1,2,0,3,4,0,0,5]
for i in x:
    if i!=0:
        print(i)

1
2
3
4
5

for-else

In [59]:
num = 4
for i in range(2,num):
    if num % i ==0:
        print("Not Prime")
        break
else:
    print("Prime")

Not Prime

In [60]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

while loop

In [35]:
x=10
while x> 0:
    x-=2
    print(x)

8
6
4
2
0

In [62]:
total=0
while True:
    num = int(input('Enter a number: '))
    if num == 0:
        break
    total += num
print(f'Total is {total}')

Total is 75

In [64]:
books =[]
while True:
    name = input("Enter book name: ")
    if name :
        books.append(name)  #add item to list
    else:
        break
print("These are your books")
print(books)

These are your books
[]